{% extends 'base.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% set _title = 'Escritorio' %}
{% set _section =  'homepage' %}

{% block _breadcrumb %}
{% endblock %}

{% block _main %}
    <h1>hola</h1>
{% endblock %}

{% block _stylesheets %}
{% endblock %}

{% block _javascripts %}
{% endblock %}