<div class="table-responsive">
    <table class="table table-striped table-sm align-middle">
        <thead class="table-light text-uppercase fw-bolder fs-6 text-gray-800 text-center">
            {% block table_head %}
            {% endblock table_head %}
        </thead>
        <tbody>
            {% block table_body %}
            {% endblock %}
        </tbody>
    </table>
</div>